<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="assets/css/jquery-ui.css">
  <link rel="stylesheet" href="assets/css/font-awesome.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/icofont.css">
  <title>Adopte Ton Coto</title>
</head>
<body ng-app="Adopt">
  <header>
    <nav class="navbar navbar-inverse nav-perso">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Adopte un coto</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Accueil</a></li>
            <li><a href="#normaux">Les à peu près normaux</a></li>
            <li><a href="#dormeur">Les dormeurs</a></li>
            <li><a href="#coto">Les cotos</a></li>
            <li><a href="#dieu">Les DIX E</a></li>
            <li><a href="#breton">LE breton</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Catégories<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#normaux">Les à peu près normaux</a></li>
                <li><a href="#dormeur">Les dormeurs</a></li>
                <li><a href="#coto">Les cotos</a></li>
                <li><a href="#dieu">Les DIX E</a></li>
                <li><a href="#breton">LE breton</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12" id="panier">
        <div class="card text-white bg-info">
          <div class="card-body">
            <h3 class="card-title">Votre panier</h3>
            <ul class="list-group" id="basket">
            </ul>
            <p>Voir mon panier et commander :</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basketModal" id="basketModalButton">Commander</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="separator">
    <p>Les à peu près normaux</p>
  </div>
  <div class="container-fluid">
    <div class="row" ng-controller="article1Ctrl">
      <div ng-repeat="article in article1">
        <div class="col-lg-3" id="normaux">
          <div class="card block-article">
            <img class="card-img-top" src="{{article.src_img}}" width="100%" alt="Articles images">
            <div class="card-body">
              <h4 class="card-title text-center">{{article.name}}</h4>
              <p class="card-text">{{article.description}}</p>
              <button type="button" class="btn btn-primary btn-block">Acheter</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="separator">
      <p>Les dormeurs</p>
    </div>
    <div class="container-fluid">
    <div class="row" ng-controller="article2Ctrl">
      <div ng-repeat="article in article2">
        <div class="col-lg-3" id="dormeur">
          <div class="card block-article">
            <img class="card-img-top" src="{{article.src_img}}" width="100%" alt="Articles images">
            <div class="card-body">
              <h4 class="card-title text-center">{{article.name}}</h4>
              <p class="card-text">{{article.description}}</p>
              <button type="button" class="btn btn-primary btn-block">Acheter</button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="separator">
      <p>Les cotos !</p>
    </div>
    <div class="container-fluid">
    <div class="row" ng-controller="article5Ctrl">
      <div ng-repeat="article in article5">
        <div class="col-lg-3" id="coto">
          <div class="card block-article">
            <img class="card-img-top" src="{{article.src_img}}" width="100%" alt="Articles images">
            <div class="card-body">
              <h4 class="card-title text-center">{{article.name}}</h4>
              <p class="card-text">{{article.description}}</p>
              <button type="button" class="btn btn-primary btn-block">Acheter</button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="separator">
      <p>Les DIX E</p>
    </div>
    <div class="container-fluid">
    <div class="row" ng-controller="article3Ctrl">
      <div ng-repeat="article in article3">
        <div class="col-lg-3" id="dieu">
          <div class="card block-article">
            <img class="card-img-top" src="{{article.src_img}}" width="100%" alt="Articles images">
            <div class="card-body">
              <h4 class="card-title text-center">{{article.name}}</h4>
              <p class="card-text">{{article.description}}</p>
              <button type="button" class="btn btn-primary btn-block">Acheter</button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="separator">
      <p>LE breton</p>
    </div>
    <div class="container-fluid">
    <div class="row" ng-controller="article4Ctrl">
      <div ng-repeat="article in article4">
        <div class="col-lg-3" id="breton">
          <div class="card block-article">
            <img class="card-img-top" src="{{article.src_img}}" width="100%" alt="Articles images">
            <div class="card-body">
              <h4 class="card-title text-center">{{article.name}}</h4>
              <p class="card-text">{{article.description}}</p>
              <button type="button" class="btn btn-primary btn-block">Acheter</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#" id='btn-basket'>
      <i class="icofont icofont-basket" id="btn-basket1"></i>
    </a>
  </div>
  </div>
</body>
<footer>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.6.6/angular-route.min.js"></script>
  <script src="assets/js/jquery-3.2.1.js"></script>
  <script src="assets/js/jquery-ui.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/bootstrap-notify.js"></script>
  <script src="assets/js/projet.js"></script>
</footer>
</html>
